name: Android CI

on:
  push:
    branches: [main]
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'gradle'

      - name: Write key
        if: github.event_name != 'pull_request'
        run: |
          if [ ! -z "${{ secrets.SIGNING_KEY_STORE_BASE64 }}" ]; then
            echo "SIGNING_STORE_PASSWORD=${{ secrets.SIGNING_STORE_PASSWORD }}" >> gradle.properties
            echo "SIGNING_KEY_ALIAS=${{ secrets.SIGNING_KEY_ALIAS }}" >> gradle.properties
            echo "SIGNING_KEY_PASSWORD=${{ secrets.SIGNING_KEY_PASSWORD }}" >> gradle.properties
            echo "SIGNING_KEY_STORE_PATH=key.jks" >> gradle.properties
            echo ${{ secrets.SIGNING_KEY_STORE_BASE64 }} | base64 --decode > app/key.jks
          fi

      - name: Build with Gradle
        run: ./gradlew assembleRelease assembleDebug

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: app/build/outputs/apk

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: app/build/outputs/apk/release/app-release.apk
          generate_release_notes: true
          fail_on_unmatched_files: true
